@media screen and (min-width: 481px){ 
  .white{
    color:white;
  }
  .Menu {
    position:fixed;
    line-height:120px;
    right:0px;
  }
  .Sidebar{
    display: block;
    margin: -60px 0px 5px 0px;
    padding: 0px 0px 90px 0px;
    background-color: rgb(131, 131, 131);
  }
  .Sidebar h1{
    display: block;
    padding: 0px 60px 0px 30px;
    background-color: #414141;  
  }
  .Sidebar h2{
    display: block;
    padding: 10px 0px 0px 10px;
    background-color: rgb(131, 131, 131);  
  }
  .Sidebar h2:hover{
  	background-color: #414141;
  }
  .my-link {
    color: #ffffff; /* デフォルトのリンク色 */
  }
}
@media screen and (max-width: 480px){
  .white{
      color:white;
    }
  .Sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: rgb(131, 131, 131);
    }
  .Sidebar h1{
    display: inline-block;
    margin: 0;
    padding: 0 30px;
    background-color: rgb(131, 131, 131); 
    }
  .Sidebar h2{
   display: inline-block;
   margin: 0;
   padding: 0 20px;
   background-color: rgb(131, 131, 131); 
   }
  .Sidebar h2:hover{
   	background-color: #414141;
   }
  }
  .my-link {
    color: #ffffff; /* デフォルトのリンク色 */
  }
.font {
  Font:"游ゴシック";
  color: #ff5d5d
}
.Honbun {
  background-color: rgb(142, 154, 255);  
}
.Color {
  color: white;
}