.white{
    color:rgb(126, 190, 255);
}
.Menu {
  position:fixed;
  line-height:120px;
  right:0px;
}
.Sidebar{
  display: block;
  margin: -60px 0px 5px 0px;
  padding: 0px 0px 90px 0px;
  background-color: rgb(111, 144, 159);
}
.Sidebar h1{
  display: block;
  padding: 0px 60px 0px 30px;
  background-color: #d2d2d2;  
}
.Sidebar h2{
  display: block;
  padding: 10px 0px 0px 10px;
  background-color: rgb(111, 144, 159);  
}
.Sidebar h2:hover{
	background-color: #ffde91;
}
.my-link {
  color: #40c1d4; /* デフォルトのリンク色 */
}